{% extends "layout/base.twig" %}

{% block title %}
{{ project.name }} | Developer Portfolio
{% endblock %}

{% block content %}

<h2>{{ project.name }}</h2>

<p>Status: {{ project.status }}</p>

<div class="page-actions">
    <a href="/projects" class="btn">
        Back to projects
    </a>
</div>

{% endblock %}